@model LocacaoViewModel

@{
    ViewData["Title"] = "Editar Locação";
}

<div class="text-center">
    <h1 class="display-4">Atualizar Locação</h1>
    <a type="button" class="btn btn-primary btn-lg" asp-controller="Locacao" asp-action="Index">X</a>

    <form asp-controller="Locacao" asp-action="Alterar" method="post">
        <div class="input-group mb-3">
            <label>Cliente</label>
            <select asp-for="LocacaoModel.NomeCliente" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                @foreach (ClienteModel cliente in Model.clienteModels)
                {
                    <option>@cliente.Nome</option>
                }
            </select>
        </div>

        <div class="input-group mb-3">
            <label>Data Locação</label>
            <input type="datetime" asp-for="LocacaoModel.DataLocacao" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>

        <div class="input-group mb-3">
            <label>Data Devolução</label>
            <input type="datetime" asp-for="LocacaoModel.DataDevolucao" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>

        <div class="input-group mb-3">
            <label>Valor Diaria</label>
            <input type="text" asp-for="LocacaoModel.ValorDiaria" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>

        <button type="submit" class="btn btn-primary btn-lg">CONFIRMAR</button>
    </form>
</div>