@{
    ViewData["Title"] = "Editar Locação";
}

<div class="text-center">
    <h1 class="display-4">Atualizar Locação</h1>
    <a type="button" class="btn btn-primary btn-lg" asp-controller="Locacao" asp-action="Index">X</a>

    <div class="input-group mb-3">
        <label>Nome</label>
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
        <label>Telefone</label>
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
        <label>Email</label>
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
        <label>Data de Nascimento</label>
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <a type="button" class="btn btn-primary btn-lg">CONFIRMAR</a>
</div>