@{
    ViewData["Title"] = "Excluir Locação";
}

<div class="text-center">
    <h1 class="display-4">ATENÇÃO!</h1>

    <P>Confirma a exclusão da locação?</P>

    <a type="button" class="btn btn-primary btn-lg" asp-controller="Locacao" asp-action="Index">CANCELAR</a>
    <a type="button" class="btn btn-danger btn-lg">CONFIRMAR</a>
</div>
